a {text-decoration:none;}
a:link {color:#1d4e89;}
a:hover {color:#1d4e89; text-decoration:underline;}
a:visited {color:#242424;}
body{
    font-family:'quicksand';}
.clear {clear:both;}
.currentpage {
    background-color:#7dd0b6;
    padding:.3em; }
.sectionwhole {
    width:100%; 
    height:100%;
    text-align:center;
    overflow:auto;
    clear:both;
    margin:5% 0 0 0;
    }
.sectionleft {
    width:40%; 
    height:100%;
    background-color:white;
    text-align:center;
    float:left;
    margin:0 0 0 10%;
    overflow:auto;}
.sectionright {
    width:40%; 
    height:100%;
    background-color:white;
    text-align:center;
    float:right;
    margin:0 10% 0 0;
    overflow:auto;}
.sectioncenter {
    width:80%; 
    height:100%;
    background-color:white;
    text-align:center;
    margin:0 10% 0 10%;
    overflow:auto;}
figcaption {
    text-align:center;
    font-family:'reenie beanie';
    font-size:1.5em;
    font-weight:bold;
    color:#1d4e89;}
figure {
    margin:0;
    margin:1.5em .5em .5em .5em; }
footer {
    text-align:center;
    margin:5% 0 0 0;
    font-family:'quicksand';
    font-size:1.5em;}
footer figure {display:inline;}
h1 {
    text-align:center;
    font-size:5em;
    margin:0;
    font-family:'barrio';
    color: #1d4e89;}
h2 {
    text-align:center;
    font-size:4em;
    margin:0;
    font-family: 'barrio';
    color:#1d4e89;}
main {text-align:center;
   }
nav {
    font-family:'barrio';
    font-size:1.5em;}
    #mainnav {
        background-color:white;
        color:#242424;
        text-align:center;
        margin:0;}
    #mainnavul{
        background-color:white;      
        padding:.4em;
        list-style-type:none;
        margin:0;}
    .mainnavli {
        display:inline-block;
        background-color:#c6cccc;
        color:#242424;
        margin:.2em;
        padding:.3em .3em .3em .3em;}
    nav a { text-decoration:none; }
    nav a:link{color:#242424;}
    nav a:hover {background-color:#7dd0b6; padding:.3em 0 .3em 0;  }
    nav a:visited {color:#242424;}
    #subnav {
        background-color:white;
        color:#242424;
        text-align:center;
        margin:0;
        padding:0;}
    .subnavul{
        list-style-type:none;
        background-color:white;
        color:#242424;
        margin:0;
        padding:0;
        text-decoration:none;    }
    .subnavli {
        background-color:white;
        display:inline-block;
        margin:0;
        padding:0;
        text-align: center;
        font-family:'reenie beanie';
        color:#242424;
        text-decoration:none;}
p { font-size:2em;
    font-family: 'quicksand';
    padding:2%;}
