<!DOCTYPE html>
<html lang="en">
<head> 
<title>Page Title</title>
<meta charset="utf-8">
<link rel="stylesheet" href="style-sheet-1.css" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Page Title</h1>
    </header>
    <nav id="mainnav">
        <ul id="mainnavul">
            <li ><a href="warmup.html">Warmup &nbsp; &nbsp;&nbsp; &nbsp;</a></li>
            <li ><a href="reading.html">Reading&nbsp; &nbsp;&nbsp; &nbsp;</a></li>
            <li ><a href="writing.html">Writing&nbsp; &nbsp;&nbsp; &nbsp;</a></li>
            <li ><a href="sharing.html">Sharing&nbsp; &nbsp;&nbsp; &nbsp;</a></li>
            <li ><a href="assessment.html">Assessment&nbsp; &nbsp;&nbsp; &nbsp;</a></li>
            <li ><a href="agents-of-change.html">Agents of Change&nbsp; &nbsp;&nbsp; &nbsp;</a></li>
            <li ><a href="leaderboard.html">Leaderboard&nbsp; &nbsp;&nbsp; &nbsp;</a></li>
            <li ><a href="tech-tips.html">Tech Tips&nbsp; &nbsp;&nbsp; &nbsp;</a></li>
            <li ><a href="visitors.html">Visitors&nbsp; &nbsp;&nbsp; &nbsp;</a></li>
            <li ><a href="media.html">Media</a></li>
        </ul>
    </nav>
    <nav id="subnav">
        <ul id="subnavul">
            <li>table</li>
            <li>of</li>
            <li>contents</li>
            <li>for</li>
            <li>each</li>
            <li>section</li>
        </ul>
    </nav>
    <main>
        <div>
            <h2 id="sectionone">Section 1 Title</h2>
            <div class=imgandpar>
                <a href="sprints.html">
                <img class="floaticon" src="sprints.png" height="150" width ="150" alt="Writing Sprints Icon">
                </a>
                <figcaption>Sprints</figcaption>
                <p id="pone">
                     DIRECTIONS: Type directions here.<br>
                    1. Directions<br>
                    2. Directions<br><br>
                    DISCUSSION: Share -insert link- your answers to these questions.<br>
                    1. Question<br>
                    2. Question<br>
                </p>
            </div>
        </div>
        <div>
            <h2 id="sectiontwo">Section 2 Title</h2>
            <p id="ptwo">
                DIRECTIONS: Type directions here.<br>
                1. Directions<br>
                2. Directions<br><br>
                DISCUSSION: Share -insert link- your answers to these questions.<br>
                1. Question<br>
                2. Question<br>
            </p>
        </div>
        <div>
            <h2 id="sectionthree">Section 3 Title</h2>
            <p id="pthree">
                DIRECTIONS: Type directions here.<br>
                1. Directions<br>
                2. Directions<br><br>
                DISCUSSION: Share -insert link- your answers to these questions.<br>
                1. Question<br>
                2. Question<br>
            </p>
        </div>
    </main>   
    <footer>
            <i>Copyright &copy; 2018 Hannah Johnson</i>
    </footer>
</body>
</html>
