<!DOCTYPE html>
<html lang="en">
<head> 
<title>Page Title</title>
<meta charset="utf-8">
<link rel="stylesheet" href="style-sheet-1.css" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Page Title</h1>
    </header>
    <nav id="mainnav">
        <ul id="mainnavul">
            <li class="horizontalnav"><a href="warmup.html">Warmup</a></li>
            <li class="horizontalnav"><a href="reading.html">Reading</a></li>
            <li class="horizontalnav"><a href="writing.html">Writing</a></li>
            <li class="horizontalnav"><a href="sharing.html">Sharing</a></li>
            <li class="horizontalnav"><a href="assessment.html">Assessment</a></li>
            <li class="horizontalnav"><a href="agents-of-change.html">Agents of Change</a></li>
            <li class="horizontalnav"><a href="leaderboard.html">Leaderboard</a></li>
            <li class="horizontalnav"><a href="tech-tips.html">Tech Tips</a></li>
            <li class="horizontalnav"><a href="visitors.html">Visitors</a></li>
            <li class="horizontalnav"><a href="media.html">Media</a></li>
        </ul>
    </nav>
    <nav id="subnav">
        <ul id="subnavul">
            <li>table</li>
            <li>of</li>
            <li>contents</li>
            <li>for</li>
            <li>each</li>
            <li>section</li>
        </ul>
    </nav>
    <main>
        <div>
            <h2 id="sectionone">Section 1 Title</h2>
            <p id="pone">
                DIRECTIONS: Type directions here.<br>
                1. Directions<br>
                2. Directions<br><br>
                DISCUSSION: Share -insert link- your answers to these questions.<br>
                1. Question<br>
                2. Question<br>
            </p>
        </div>
        <div>
            <h2 id="sectiontwo">Section 2 Title</h2>
            <p id="ptwo">
                DIRECTIONS: Type directions here.<br>
                1. Directions<br>
                2. Directions<br><br>
                DISCUSSION: Share -insert link- your answers to these questions.<br>
                1. Question<br>
                2. Question<br>
            </p>
        </div>
        <div>
            <h2 id="sectionthree">Section 3 Title</h2>
            <p id="pthree">
                DIRECTIONS: Type directions here.<br>
                1. Directions<br>
                2. Directions<br><br>
                DISCUSSION: Share -insert link- your answers to these questions.<br>
                1. Question<br>
                2. Question<br>
            </p>
        </div>
    </main>   
    <footer>
            <i>Copyright &copy; 2018 Hannah Johnson</i>
    </footer>
</body>
</html>
