<!DOCTYPE html>
<html lang="en">
<head> 
<title>Page Title</title>
<meta charset="utf-8">
<link rel="stylesheet" href="style-sheet2.css" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
    <header>
        <h1>Page Title</h1>
    </header>
    <nav id="mainnav" >
        <ul id="mainnavul">
            <li class="mainnavli" ><a href="warmup.html">Warmup</a></li>
            <li class="mainnavli"><a href="reading.html">Reading</a></li>
            <li class="mainnavli"><a href="writing.html">Writing</a></li>
            <li class="mainnavli"><a href="sharing.html">Sharing</a></li>
            <li class="mainnavli"><a href="assessment.html">Assessment</a></li>
            <li class="mainnavli"><a href="agents-of-change.html">Agents of Change</a></li>
            <li class="mainnavli"><a href="leaderboard.html">Leaderboard</a></li>
            <li class="mainnavli"><a href="tech-tips.html">Tech Tips</a></li>
            <li class="mainnavli"><a href="visitors.html">Visitors</a></li>
            <li class="mainnavli"><a href="media.html">Media</a></li>
        </ul>
    </nav>
    <nav id="subnav">
        insert <br>icon<br> gallery<br> here<br>with<br>links<br>to<br>farther<br>down<br>page<br>
    </nav>
    <main>
        <div>
            <h2>Section 1 Title</h2>
            <div>
                <p>Type each direction here.</p>
                <p>Insert step number as image inside this paragraph if possible.</p>
                <p>Colors of image icons should match this section header.</p>
                <p>Also insert discussion questions here.</p>
                <p>To the left, add video tutorials.</p>
                <p>Or, add more resource links that float left.</p>
            </div>
        </div>
    </main>   
    <footer>
            <i>Copyright &copy; 2018 Hannah Johnson</i>
    </footer>
    </div>
</body>
</html>
