<!DOCTYPE html>
<html lang="en">
<head> 
<title>Page Title</title>
<meta charset="utf-8">
<link rel="stylesheet" href="style-sheet2.css" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
    <header>
        <h1>Page Title</h1>
    </header>
    <nav id="mainnav" >
        <ul id="mainnavul">
            <li class="mainnavli" ><a href="warmup.html">Warmup</a></li>
            <li class="mainnavli"><a href="reading.html">Reading</a></li>
            <li class="mainnavli"><a href="writing.html">Writing</a></li>
            <li class="mainnavli"><a href="sharing.html">Sharing</a></li>
            <li class="mainnavli"><a href="assessment.html">Assessment</a></li>
            <li class="mainnavli"><a href="agents-of-change.html">Agents of Change</a></li>
            <li class="mainnavli"><a href="leaderboard.html">Leaderboard</a></li>
            <li class="mainnavli"><a href="tech-tips.html">Tech Tips</a></li>
            <li class="mainnavli"><a href="visitors.html">Visitors</a></li>
            <li class="mainnavli"><a href="media.html">Media</a></li>
        </ul>
    </nav>
    <nav id="subnav">
        <ul id="subnavul">
            <li class="subnavli"><figure><a href="template-2.html"><img src="testimage.png" alt="Icon Description here" height="130" width="130"></a><figcaption>Test Title</figcaption></figure></li>
            <li class="subnavli"><figure><a href="template-2.html"><img src="testimage.png" alt="Icon Description here" height="130" width="130"></a><figcaption>Test Title</figcaption></figure></li>
            <li class="subnavli"><figure><a href="template-2.html"><img src="testimage.png" alt="Icon Description here" height="130" width="130"></a><figcaption>Test Title</figcaption></figure></li>
            <li class="subnavli"><figure><a href="template-2.html"><img src="testimage.png" alt="Icon Description here" height="130" width="130"></a><figcaption>Test Title</figcaption></figure></li>
            <li class="subnavli"><figure><a href="template-2.html"><img src="testimage.png" alt="Icon Description here" height="130" width="130"></a><figcaption>Test Title</figcaption></figure></li>
            <li class="subnavli"><figure><a href="template-2.html"><img src="testimage.png" alt="Icon Description here" height="130" width="130"></a><figcaption>Test Title</figcaption></figure></li>
            <li class="subnavli"><figure><a href="template-2.html"><img src="testimage.png" alt="Icon Description here" height="130" width="130"></a><figcaption>Test Title</figcaption></figure></li>
        </ul>  
    </nav>
    <main>
        <div >
            <h2>Section 1 Title</h2>
            <div><span style="float:left;">
                <a href="template-2.html"><img src="hulahoop.png" alt="Icon Description here" height="200" width="200"></a>
            </span></nav>
            <div>
                <p>Type each direction here.</p>
                <p>Insert step number as image inside this paragraph if possible.</p>
                <p>Colors of image icons should match this section header.</p>
                <p>Also insert discussion questions here.</p>
                <p>To the left, add video tutorials.</p>
                <p>Or, add more resource links that float left.</p>
                <br><center><a href=#wrapper>Back to Top</a></center><br>
            </div>
        </div>
        <div >
                <h2>Section 2 Title</h2>
                <div><span style="float:left;">
                        <a href="template-2.html"><img src="hulahoop.png" alt="Icon Description here" height="200" width="200"></a>
                </span></nav>
                <div>
                    <p>Type each direction here.</p>
                    <p>Insert step number as image inside this paragraph if possible.</p>
                    <p>Colors of image icons should match this section header.</p>
                    <p>Also insert discussion questions here.</p>
                    <p>To the left, add video tutorials.</p>
                    <p>Or, add more resource links that float left.</p>
                    <br><center><a href=#wrapper>Back to Top</a></center><br>
                </div>
            </div>
            <div >
                    <h2>Section 3 Title</h2>
                    <div><span style="float:left;">
                            <a href="template-2.html"><img src="hulahoop.png" alt="Icon Description here" height="200" width="200"></a>
                    </span></nav>
                    <div>
                        <p>Type each direction here.</p>
                        <p>Insert step number as image inside this paragraph if possible.</p>
                        <p>Colors of image icons should match this section header.</p>
                        <p>Also insert discussion questions here.</p>
                        <p>To the left, add video tutorials.</p>
                        <p>Or, add more resource links that float left.</p>
                        <br><center><a href=#wrapper>Back to Top</a></center><br>
                    </div>
            </div>
    </main>   
    <footer>
            <i>Copyright &copy; 2018 Hannah Johnson</i>
    </footer>
    </div>
</body>
</html>
