/****************************************************************************
Title:  Nav Style
Use:  To provide style rules for my navigation.
Author:  Hannah Johnson
School/Term:  University of Missouri-Columbia, Summer 2020
Developed: July 1, 2020
Validated:  July 27; Passed on Chrome, Opera, Firefox, Edge, and Internet Explorer browser.
***************************************************************************/
.mainnav {
    background-color:#24305e;
    right:0;
    top:0;
    margin:15px;}
.mainnav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    flex-wrap:nowrap;
    justify-content:flex-end;
    max-width:1200px;
    background-color:#24305e;}
.mainnav ul li {
    list-style-type:none;
    margin-top:0;
    margin-left:5px;
    margin-bottom:2px;
    color:white;
    padding:5px 5px 5px 5px;
    width:auto;
    text-align:center;
    font-size:120%;
    font-family:'Unica One',serif;
    letter-spacing:5px;
    text-transform:uppercase;
    background-color:#24305e;}
.mainnav>ul li{
    width:auto;
    position:relative;
    text-align:center;
    color:white;
    background-color:#24305e;}
.mainnav a:link, a:visited {
    text-decoration:none;
    display:block;
    color:white;
    font-family:'Unica One', serif;
    background-color:#24305e;}
.mainnav a:hover, a:focus {
    color: #b5d6e8;
    text-decoration:none;
    background-color:#24305e;}
.active a{
    color:#b5d6e8;
    background-color:#24305e;;}
.dropdown {
    overflow:hidden;
    padding:0;}
.dropdown .dropbtn {
    border:none;
    outline:none;
    color:white;
    font-family:inherit;
    list-style-type:none;
    margin:0;
    padding:0;
    width:auto;
    text-align:center;
    font-size:100%;
    font-family:'Unica One',serif;
    letter-spacing:5px;
    text-transform:uppercase;
    background-color:#24305e;}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:#24305e;
    min-width:100%;
    z-index:1;
    font-size:80%;}
.dropdown-content a{
    float:none;
    color:white;
    padding:0;
    text-decoration:none;
    display:block;
    text-align:center;}
.dropdown:hover .dropdown-content{
    display:block;}
.dropdown ul{
    display:block;}
