*{font-family:Helvetica, sans-serif;}
body{
    font-size:100%;
    margin:0px;
    background-color:#152E56;
    width:100%;
    height:100%;}
main{
    margin:0px;
    background-color:#A7B6B5;
    position:relative;
    float:left;
    width:100%;
    padding:0 60px 0 60px;}
h1{
    color:white;
    text-shadow:2px 2px 5px #A7B6B5;
    text-align:center;
    font-size:300%;
    font-family:Helvetica, sans-serif;
    font-variant:small-caps;
    background-color:#152E56;
    margin:10px;}
h2{
    color:#152E56;
    text-shadow:2px 2px 5px #A7B6B5;
    font-size:200%;
    font-variant:small-caps;
    margin:5px;}
h3{
    color:#123D5F;
    text-shadow:1px 1px 3px #A7B6B5;
    font-size:130%;
    margin:5px;}
p{
    color:black;
    font-size:100%;
    width:100%;}
div{
    background-color:white;
    border:10px solid #152E56;
    padding:10px;
    margin:0 10px 30px 10px;}
#education{
    width:430px;
    height:350px;
    float:left;
    position:relative;}
#about{
    width:658px;
    height:350px;
    float:left;
    position:relative;}
blockquote{
    color:#476678;
    font-size:100%;
    font-style:italic;
    margin:10px 0 0 0;}
.floatleft{
    float:left;
    position:relative;
    margin:10px;}
img{
    margin:0;
    padding:0;}
.clearleft{
    clear:left;}
#medlist{
    color:#476678;}
#bslist{
    color:black;}
footer{
    clear:both;
    font-size:95%;
    color:white;
    text-align:center;
    font-style:italic;
    background-color:#152E56;
    padding:30px 0 30px 0;}
footer a:link, a:visited, a:active{
    color:white;}
a:link, a:visited, a:active{
    color:#152E56;
    text-decoration:none;
    font-weight:bold;}
a:hover, a:focus{
    text-decoration:underline;}
