


body {
    background-color:#636363;
    text-align:justify;
    margin:20px 20px 20px 20px;
    
    
    
}
h1 {
    background-color:#00ced1;
    color:#333333;
    font-size:55px;
    margin:0px 10px 0px 10px;
    padding:10px;
    text-align:center;
    font-family:'princess sofia';
    font-weight:bolder;
    letter-spacing:15px;
    border-width:6px;
    border-color:#333333;
    border-style:solid;
    border-radius:30px;
    }
h2 {
    background-color:#c0ff3e;
    color:#333333;
    margin:30px 10px 5px 10px;
    padding:5px 15px 5px 15px;
    font-family:"princess sofia";
    font-size:25px;
    letter-spacing:5px;
    text-align:center;
    border-width:6px;
    border-color:#333333;
    border-style:solid;
    border-radius:20px;
        }
p {
    background-color:white;
    color:#333333;
    margin: 0px 10px 0px 10px;
    padding:10px;
    font-family:"neuton";
    font-size:large;
    font-weight:bold;
    border-width:6px;
    border-color:#333333;
    border-style:solid;
    border-radius:15px;

        }
ol{
    background-color:white;
    color:#333333;
    margin: 0px 10px 0px 10px;
    padding:10px;
    font-family:"neuton";
    font-size:large;
    font-weight:bold;
    border-width:6px;
    border-color:#333333;
    border-style:solid;
    border-radius:15px;}

ul{
    background-color:white;
    color:#333333;
    font-size:large;
    margin:0;
    text-align:left;
    padding:10px;
    }
a {
    text-decoration:none;
    color:#333333;
    }
footer {
    text-align:center;
}
